@import '~bootstrap/scss/bootstrap.scss';

$color: steelblue;

.my-flix {
  color: $color;
}

.movie-view-img {
  max-height: 450px;
  width: 100%;
}

.movie-card-img {
  max-height: 450px;
  width: 100%;
}